/* Fonts */

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.biggerFont{
    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;
}

.bigFont{
    font-size: 2.25rem;
    font-weight: bolder;
    color: #1F2937;
}

.smallFont{
    font-size: 1.5rem;
    font-weight: bold;
    color: #1F2937;
}

.smallerFont{
    font-size: 1.125rem;
    color: #E5E7EB;
    font-weight: lighter;
}

/* NavBar */

nav{
    background-color: #1F2937;
    padding: 15px;
    border-bottom: 1px dotted #273242;
}

a {
    color: inherit;
    text-decoration: none;    
}

ul{
    display: flex;
    list-style-type: none;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0px;
    gap: 24px;
}

li{
    font-size: 18px;
    color: #E5E7EB;
    align-self: center;
    
}

#playBtn img {
    width: 50px;
    height: 50px;
}

li.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

li a:hover {
    color: #fff;
}

/* Button */

button {
    background-color: #3882F6;
    border: none;
    color: white;
    margin-top: 16px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

button:hover {
    background: #2375f8;
}

button:active{
    top: 1px;
}

/* First Section */

section.singUp {
    background-color: #1F2937;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

div.singUp{
    width: 34vw;
}

.singUp img {
    width: 350px;
    height: 220px;
}

/* Second Section */

section.choose{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.pokemons{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
}

img.pokemon{
    width: 100%;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.pokemons div{
    width: 175px;
}

.pokemons div .smallerFont{
    color: #1F2937;
    text-align: center;
    font-weight: bolder;
}

/* Third section */

section.inspiring {
    padding: 100px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiring div {
    padding: 0px 5vw 0px 5vw;
    width: auto;
}

.inspiring .bigFont{
    font-style: italic;
    font-weight:lighter;
}

#author {
    margin-top: 12px;
    display: block;
    text-align: right;
}

/* Fourth Section */

div.singUpCard {
    margin: 100px 150px 100px 150px;
    padding: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#joinUs{
    border: 2px solid #F9FAF8;
}

.singUpCard .smallFont, .singUpCard .smallerFont {
    color: #F9FAF8;
}

/* Footer */

footer {
    padding: 30px;
    background-color: #1F2937;
    text-align: center;
}

footer div{
    padding: 8px;
}

footer .smallerFont {
    color: #F9FAF8;
}

/* Hamburguer menu (Only on mobile devices) */

.logo.mobile{
    display: none;
    font-size: 24px;
    position: absolute;
    top: 17px;
    left: 5vw;
    z-index: 2;
    color: #F9FAF8;
}

.hamburguer {
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: none;
    width: 10vw;
}

.hamburguer:focus{
    outline: none;
}

.hamburguer:hover{
    background-color: transparent;
    margin-bottom: 0px;
}

.navUl.show {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 6vh;
    width: 100%;
    height: fit-content;   
}

/* Media Query for mobile devices */

@media screen and (max-width: 600px) {
    
    .biggerFont {
        font-size: 2rem;
    }

    .bigFont {
        font-size: 1.25rem;
    }

    .smallFont {
        font-size: 1rem;
    }

    .smallerFont {
        font-size: 0.75rem;
    }

    button {
        margin-top: 16px;
        padding: 8px 16px;
        font-size: 0.75rem;
    }

    .logo.mobile{
        display: block;
    }

    .navUl {
        display: none;
    }

    li {
        align-self: flex-start;
    }

    .logo {
        display: none;
    }

    .hamburguer{
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 2%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburguer .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2vh;
        background-color: #fff;
    }

    .hamburguer .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .hamburguer .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .hamburguer .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .hamburguer.clicked .line1{
        transform: rotate(45deg);
    }
    
    .hamburguer.clicked .line2{
        transform: scaleY(0);
    }

    .hamburguer.clicked .line3{
        transform: rotate(-45deg);
    }

    section.singUp {
        padding: 5vh 0 5vh 0;
        gap: 32px;
    }

    .singUp div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .singUp div{
        width: 85%;
    }

    .singUp img{
        width: 80vw;
        height: auto;
    }

    section.inspiring {
        padding: 10vh 5vw 10vh 5vw;
        background-color: #E5E7EB;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .inspiring div {
        width: auto;
        text-align: center;
    }

    div.singUpCard {
        margin: 10vh 5vw 10vh 5vw;
        padding: 25px;
        flex-wrap: wrap;
    }
    .singUpCard div {
        height: auto;
        width: auto;
        text-align: center;
    }

    footer {
        padding: 2vh;
    }
    

}

@media screen and (max-width: 930px) {

    .logo.mobile{
        display: block;
    }

    .navUl {
        display: none;
    }

    li {
        align-self: flex-start;
    }

    .logo {
        display: none;
    }

    .hamburguer{
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right:2%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburguer .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2vh;
        background-color: #fff;
    }

    .hamburguer .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .hamburguer .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .hamburguer .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .hamburguer.clicked .line1{
        transform: rotate(45deg);
    }
    
    .hamburguer.clicked .line2{
        transform: scaleY(0);
    }

    .hamburguer.clicked .line3{
        transform: rotate(-45deg);
    }

    section.singUp {
        padding: 5vh 5vw 5vh 5vw;
        gap: 32px;
    }

    .singUp div{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        width: auto;
    }

    .inspiring div {
        width: auto;
        text-align: center;
    }

    div.singUpCard {
        margin: 10vh 5vw 10vh 5vw;
        padding: 25px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .singUpCard div {
        height: auto;
        width: auto;
        text-align: center;
    }

}